<div class="top-3-grids">
	<div class="section group">
		<div class="grid_1_of_3 images_1_of_3">
			<li><%= link_to image_tag("customer/tivi6.jpg", alt: "photo"),"#" %></li>
			<h3>Tivi Samsung</h3>
		</div>
		<div class="grid_1_of_3 images_1_of_3 second">
		<li><%= link_to image_tag("customer/tivi8.jpg", alt: "photo"),"#" %></li>
			<h3>Tivi LG</h3>
		</div>
			<div class="grid_1_of_3 images_1_of_3 theree">
			<li><%= link_to image_tag("customer/tivi7.jpg", alt: "photo"),"#" %></li>
			<h3>Tivi Toshiba</h3>
	  </div>
	</div>
</div>
